%h1 Nearest stations
%table
  %tr
    %th Station
    %th History of 10 last availables stands
  - @stations.each do |station|
    %tr
      %td= station['station'].name
      %td= station['station'].available_stands

