%h1 Show

%table
  - @stations.each do |station|
    %tr
      %td= station['station'].name
      %td= station['distance']

%br
NAME  THON HOTEL ARENA
LATITUDE  59.95128
LONGITUDE 11.04959
%br
8002- PLACE AMBROISE COURTOIS
2010 - CONFLUENCE DARSE
5015 - FULCHIRON
1343 - FLAMMARION GROBET
00186 - DESBALS BOUALAM

%br
010_CALLE JOSE DIAZ
2010 - CONFLUENCE DARSE
5015 - FULCHIRON
1343 - FLAMMARION GROBET
00186 - DESBALS BOUALAM